---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,400italic);
// Our variables
$base-font-family: 'Open Sans', Arial, sans-serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #3b3b3b;
$background-color: #fff;
$brand-color:      #1e6931;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "layout";
