// Resets
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

// Defaults
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  padding: 20px;
}


figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
       margin-bottom: 0;
  }
}

h1 {
  font-weight: 800;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

a {
  color: lighten($brand-color, 10);
  text-decoration: none;
  border-bottom: 1px solid currentColor;

  &:visited {
    color: $brand-color;
  }

  &:hover {
    color: darken($brand-color, 50%);
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
