// Base
body {
  color: $color-body;
  font-family: "Open Sans", Helvetica, Arial;
}

h1 {
  font-weight: 800;
  font-size: 45px;
}

h2 {
  font-size: 35px;
  font-weight: 800;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
}

a {
  color: $color-brand;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  &:hover {
    color: darken($color-brand, 20%);
  }
}

p, li {
  font-size: $base-font-size;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  margin-bottom: 5px;
}

strong {
  font-weight: 600;
}

em {
  font-style: italic;
}

img {
  width: 100%;
}

// Layouts

.l-wrapper {
  margin: 0 auto;
  max-width: 700px;
  width: 80%;
}

// Modules

.m-section {
  padding: 30px 0;
  &:first-of-type {
    border-top: 1px solid $color-body;
  }
}

.m-toc {
  list-style-position: inside;
  margin: 40px 0;
  &__link {
    display: inline-block;
  }
}

.m-footer {
  border-top: 1px solid $grey-color-light;
  padding: 40px 0;
  background-color: $color-body;
  color: #fff;
  @media(min-width: 500px) {
    &__section {
      width: 60%;
      display: inline-block;
      vertical-align: top;
      &:nth-child(2) {
        width: 35%;
      }
    }
  }
  a {
    color: lighten($color-brand, 20%);
  }
}

.m-header {
  padding: 20px;
  background-color: $grey-color-dark;

  svg {
    width: 200px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
  }

  &__nav {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 5px;
    a {
      color: #fff;
      padding: 0 10px;
      border-bottom: 0;
      &:hover {
        color: lighten($color-brand, 10%);
      }
    }
    color: #fff;
    float: right;
  }
}

.m-hero {
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 150px 0;
  color: $grey-color-dark;
  text-transform: uppercase;
  position: relative;
  background-attachment: fixed;
  &:before {
    content: '';
    background-color:rgba(255,255,255,.2);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  * {
    z-index: 10000;
    position: relative;
  }
  &__title {
    text-shadow: 3px 3px 10px rgba(255,255,255,.8);
    @media(min-width: 500px) {
      font-size: 70px;
    }
  }
}

.m-logo {
  text-align: center;
  margin-bottom: 30px;
  img {
    max-width: 100px;
  }
}

// Patterns

.p-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

@media(min-width: 500px) {
  .wide {
    vertical-align: middle;
    width: 150%;
    max-width: 1000px;
    margin-left: -15%;
  }

  .right,
  .left {
    width: 55%;
    padding: 0 10px;
    position: relative;
  }

  .right {
    float: right;
    margin-right: -25%;
  }

  .left {
    float: left;
    margin-left: -25%;
  }
}
