$base-font-family: 'Open Sans', Arial, sans-serif;
$base-font-size:   17px;
$base-line-height: 1.5;

$color-brand: #1e6931;
$color-body: #3b3b3b;
$color-white: #fff;
$color-gray: #828282;
$color-gray-light: lighten($color-gray, 40%);
$color-gray-dark:  darken($color-gray, 25%);

// Width of the content area
$content-width:    800px;

