$base-font-family: 'Open Sans', Arial, sans-serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$color-body: #3b3b3b;
$color-brand:      #1e6931;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

